<div id="homeMain">
<div class="container-fluid">
  <div class="row" style="position: relative; overflow: hidden;">
    <div class="col-6">
    <!--  <img style="width: 100%;height:80%" src="https://3.bp.blogspot.com/-W__wiaHUjwI/Vt3Grd8df0I/AAAAAAAAA78/7xqUNj8ujtY/s1600/image02.png">!-->
    </div>
    <div class="col-6">
      <!--<pre>
        After the Sea-Ship—after the whistling winds;

        After the white-gray sails, taut to their spars and ropes,

        Below, a myriad, myriad waves, hastening, lifting up their necks,

        Tending in ceaseless flow toward the track of the ship:

        Waves of the ocean, bubbling and gurgling, blithely prying,

        Waves, undulating waves—liquid, uneven, emulous waves,

        Toward that whirling current, laughing and buoyant, with curves,

        Where the great Vessel, sailing and tacking, displaced the surface;

        Read more at http://examples.yourdictionary.com/examples-of-free-verse-poems.html#bIHDklO7XzF8p1gW.99
      </pre>-->
    </div>
      <div id="downButton" routerLink="/about"></div>
  </div>
</div>
  </div>
