<div class="nav header">
  <md-toolbar style="background: grey;box-shadow: 0 0 15px 0 black;position: relative;z-index: 1">
    <div class="sideMenu" (click)="sidenav.toggle()">
      <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    <h4 style="text-align: left;padding: 1em">Shiva Karan - Web Developer</h4>
  </md-toolbar>
</div>
  <div class="row">
      <md-sidenav-container style="height:100%;opacity: 0.5;position:absolute;z-index: 1">
        <md-sidenav #sidenav mode="side" [opened]="true">
          <ul style="padding-top:1em">
            <button md-button type="button" routerLink="/" class="active btn sidenav-btn btn-secondary btn-lg btn-block"><strong>Home</strong></button>
            <button md-button type="button" routerLink="experience" class="btn btn-secondary btn-lg btn-block"><strong>Experience</strong></button>
            <button md-button type="button" routerLink="about" class="btn btn-secondary btn-lg btn-block"><strong>About</strong></button>
            <button md-button type="button" routerLink="contact" class="btn btn-secondary btn-lg btn-block"><strong>Contact Me</strong></button>
          </ul>
        </md-sidenav>
      </md-sidenav-container>
    <!-- Page content -->
    <div class="pageContent">
      <router-outlet>
      </router-outlet>
      </div>
  </div>
<!-- Sticky footer -->
<footer class="footer" style="background-color:#DCDCDC;position:absolute;z-index: 1">
  <div class="container font-weight-bold text-muted text-center">
    <span class="text-center">© 2017 Shiva Karan. All Rights Reserved</span>
  </div>
</footer>


