<div class="nav header">
  <md-toolbar style="background: #2B3840;box-shadow: 0 0 15px 0 black;position: absolute;z-index: 100">
    <div class="sideMenu" (click)="sidenav.toggle()">
      <i class="fa fa-bars" style="color:white" aria-hidden="true"></i>
      </div>
<!--<img src="http://svgshare.com/i/119.svg" style="height:65px;margin-left: 2em;cursor: pointer" routerLink="/"/>-->
<img src="http://svgshare.com/i/11g.svg" style="height:65px;margin-left: 2em;cursor: pointer" routerLink="/"/>  
  </md-toolbar>
</div>
  <div class="row">
      <md-sidenav-container class="sidenav-Container" style="height:100%;opacity: 0.5;position:absolute;z-index: 1">
        <md-sidenav #sidenav mode="side" [opened]="false">
          <ul style="padding-top:10em">
             <i class="fa fa-times fa-2x" aria-hidden="true" (click)="sidenav.close()" style="cursor: pointer;position: relative;bottom: 30px;left:90px"></i>
            <button md-button type="button" routerLink="/"  class="btn sidenav-btn btn-secondary btn-lg btn-block"><strong>Home</strong></button>
            <button md-button type="button" routerLink="/about"  routerLinkActive="active" class="btn btn-secondary btn-lg btn-block"><strong>About</strong></button>
            <button md-button type="button" routerLink="/experience"  routerLinkActive="active" class="btn btn-secondary btn-lg btn-block"><strong>Experience</strong></button>
            <button md-button type="button" routerLink="/contact"  routerLinkActive="active"class="btn btn-secondary btn-lg btn-block"><strong>Contact Me</strong></button>
          </ul>
        </md-sidenav>
      </md-sidenav-container>
    <!-- Page content -->
    <div class="pageContent">
      <router-outlet style="margin-left: 15px;">
      </router-outlet>
      </div>
  </div>
<!-- Sticky footer -->


