
<div class="skillsContainer" style="height: 100%">
<div class="row" style="padding: 5em">
<div class="col col-lg-6 col-sm-12" style="padding: 6em">                 
<h5 class="aboutTxt"><strong>I like to meet new challenges, exploring new techniques of design and development updating with new trends. Writing clean, elegant and efficient code with passion.</strong></h5>
</div>

<div class="col col-lg-6 col-sm-12 skillSet" style="padding: 10em 0 5em 10em">

<div class="skillbar clearfix " data-percent="90%">
  <div class="skillbar-title" style="background: #4c8e86;"><span>HTML5</span></div>
  <div class="skillbar-bar skill-html"></div>
  <div class="skill-bar-percent">90%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="85%">
  <div class="skillbar-title" style="background: #e1ae9e;"><span>CSS3</span></div>
  <div class="skillbar-bar skill-css"></div>
  <div class="skill-bar-percent">85%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="90%">
  <div class="skillbar-title" style="background: #2c3e50;"><span>JavaScript</span></div>
  <div class="skillbar-bar skill-js"></div>
  <div class="skill-bar-percent">90%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="75%">
  <div class="skillbar-title" style="background: #82574f;"><span>Angular</span></div>
  <div class="skillbar-bar skill-aj"></div>
  <div class="skill-bar-percent">75%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="65%">
  <div class="skillbar-title" style="background: #b43a3a;"><span>Node JS</span></div>
  <div class="skillbar-bar skill-nj"></div>
  <div class="skill-bar-percent">65%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="75%">
  <div class="skillbar-title" style="background: #27ae60;"><span>jQuery</span></div>
  <div class="skillbar-bar skill-jq"></div>
  <div class="skill-bar-percent">75%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="90%">
  <div class="skillbar-title" style="background: #346883;"><span>RWD</span></div>
  <div class="skillbar-bar skill-rwd"></div>
  <div class="skill-bar-percent">90%</div>
</div> <!-- End Skill Bar -->

</div>
</div>
		<div id="downButton" routerLink="/contact"></div>
</div>

