@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');
.aboutTxt{
  font-family: 'PT Sans Narrow', sans-serif;
}
body {
  font-family: 'Ubuntu', sans-serif;
  width:960px;
}

p{
  color:#525252;
  font-size:12px;
}

.skillbar {

  position:relative;
  display:block;
  margin-bottom:15px;
  width:100%;
  background:#eee;
  height:35px;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-transition:0.4s linear;
  -moz-transition:0.4s linear;
  -ms-transition:0.4s linear;
  -o-transition:0.4s linear;
  transition:0.4s linear;
  -webkit-transition-property:width, background-color;
  -moz-transition-property:width, background-color;
  -ms-transition-property:width, background-color;
  -o-transition-property:width, background-color;
  transition-property:width, background-color;
}

.skillbar-title {
  position:absolute;
  top:0;
  left:0;
  width:110px;
  font-weight:bold;
  font-size:13px;
  color:#ffffff;
  background:#6adcfa;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:4px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-title span {
  display:block;
  background:rgba(0, 0, 0, 0.1);
  padding:0 20px;
  height:35px;
  line-height:35px;
  -webkit-border-top-left-radius:3px;
  -webkit-border-bottom-left-radius:3px;
  -moz-border-radius-topleft:3px;
  -moz-border-radius-bottomleft:3px;
  border-top-left-radius:3px;
  border-bottom-left-radius:3px;
}

.skillbar-bar {
  height:35px;
  width:0px;
  background:#6adcfa;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
}
.skill-html{

  background-color: #b0dbd6;background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5fb2a8), color-stop(1, #b0dbd6));
}
.skill-css{
    background-color: #f4dcd6;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1ae9e), color-stop(1, #f4dcd6));
}
.skill-js{
background-color: #6b7784;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #415161), color-stop(1, #6b7784));
}
.skill-aj{
    background-color: #da9284;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ae7469), color-stop(1, #da9284));
}
.skill-nj{
    background-color: #da6d6c;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e14949), color-stop(1, #da6d6c));
}
.skill-jq{
    background-color:#135730;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #239c56), color-stop(1, #7dce9f));
}
.skill-rwd{
    background-color: #4171a3;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3a7492), color-stop(1, #668db5));
}
.skill-bar-percent {
  position:absolute;
  right:10px;
  top:0;
  font-size:11px;
  height:35px;
  line-height:35px;
  color:#ffffff;
  color:rgba(0, 0, 0, 0.4);
}

.skillsContainer{
  /*background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)), transparent url(https://i.imgur.com/5pq7Nat.png) no-repeat fixed;*/
background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)), transparent url(https://i.imgur.com/c404SMR.png) no-repeat fixed; 
/*background: linear-gradient(
                     rgba(20,20,20, .5), 
                     rgba(20,20,20, .5)), transparent url(https://i.imgur.com/JzIuMS2.png) no-repeat fixed;                  */*/
  background-color: 	#00FFFF;
 -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-position: center bottom;
    overflow: hidden;
    width: 100%;
}


#downButton {
    background: transparent url(https://i.imgur.com/k5aPd9S.png) center center no-repeat;
    background-size: 70px 37px !important;
    border-radius: 30px;
    width: 70px;
    height: 37px;
    position: absolute;
    bottom: 75px;
    z-index: 99;
    text-indent: -9999 !important;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: left !important;
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: .7;
}
#downButton:hover{
    opacity: 1;
}
