
<div class="skillsContainer" style="height: 100%">
<div class="row" style="padding: 5em">
<div class=" col-6" style="padding: 6em">                 
<h5 class="aboutTxt"><strong>I like to meet new challenges, exploring new techniques of design and development updating with new trends. Writing clean, elegant and efficient code with passion.</strong></h5>
</div>

<div class="col-6 skillSet" style="padding: 15em 0 5em 10em">

<div class="skillbar clearfix " data-percent="90%">
  <div class="skillbar-title" style="background: #d35400;"><span>HTML5</span></div>
  <div class="skillbar-bar" style="background: #e67e22;"></div>
  <div class="skill-bar-percent">90%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="85%">
  <div class="skillbar-title" style="background: #2980b9;"><span>CSS3</span></div>
  <div class="skillbar-bar" style="background: #3498db;"></div>
  <div class="skill-bar-percent">85%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="90%">
  <div class="skillbar-title" style="background: #2c3e50;"><span>JavaScript</span></div>
  <div class="skillbar-bar" style="background: #2c3e50;"></div>
  <div class="skill-bar-percent">90%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="75%">
  <div class="skillbar-title" style="background: #46465e;"><span>Angular JS</span></div>
  <div class="skillbar-bar" style="background: #5a68a5;"></div>
  <div class="skill-bar-percent">75%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="65%">
  <div class="skillbar-title" style="background: #333333;"><span>Node JS</span></div>
  <div class="skillbar-bar" style="background: #525252;"></div>
  <div class="skill-bar-percent">65%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="75%">
  <div class="skillbar-title" style="background: #27ae60;"><span>jQuery</span></div>
  <div class="skillbar-bar" style="background: #2ecc71;"></div>
  <div class="skill-bar-percent">75%</div>
</div> <!-- End Skill Bar -->

<div class="skillbar clearfix " data-percent="90%">
  <div class="skillbar-title" style="background: #124e8c;"><span>RWD</span></div>
  <div class="skillbar-bar" style="background: #4288d0;"></div>
  <div class="skill-bar-percent">90%</div>
</div> <!-- End Skill Bar -->

</div>
</div>
		<div id="downButton" routerLink="/contact"></div>
</div>

