<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <img style="width: 100%" src="http://www.online-image-editor.com//styles/2014/images/example_image.png">
      <p>
          Black cat, black cat, smiles and lies,
          hiding behind your black cat eyes.
          Sneaking glances and proud prances,
          ears erect, you are foolishly wise.
      </p>
    </div>
    <div class="col-4">
      <img style="width: 100%" src="http://www.online-image-editor.com//styles/2014/images/example_image.png">
      <p>
        Black cat, black cat, smiles and lies,
        hiding behind your black cat eyes.
        Sneaking glances and proud prances,
        ears erect, you are foolishly wise.
      </p>
    </div>
    <div class="col-4">
      <img style="width: 100%" src="http://www.online-image-editor.com//styles/2014/images/example_image.png">
      <p>
        Black cat, black cat, smiles and lies,
        hiding behind your black cat eyes.
        Sneaking glances and proud prances,
        ears erect, you are foolishly wise.
      </p>
    </div>
  </div>
</div>
