@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

.expMain{
    background: linear-gradient(
                     rgba(5,5,5, .5), 
                     rgba(5,5,5, .5)),
                      url(https://i.imgur.com/YZe41r3.png) no-repeat center center fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
    padding: 10em;
    margin: 0;
}
#featuredPages.hasBackground .sectionHead h3 {
    color: #fff;
}
.homeSection .sectionHead h3 {
  font-family: 'Raleway', sans-serif;
}

#featuredPages.hasBackground p {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.7);
}
#featuredPages.hasBackground img {
    margin: 0 auto 10px;
}

#featuredPages img {
    max-width: 100% !important;
    height: auto;
    margin: 0 auto;
}

style.css?ver=4.7.3:1033
#featuredPages {
    background: #f9f9f9;
    padding: 150px 0 120px 0;
    width: 100%;
    max-width: none;
}

.homeSection .sectionHead {
    padding: 0 0 15px!important;
    margin: 0 30px 30px;
    text-align: center;
    position: relative;
    
}


#downButton {
    background: transparent url(https://i.imgur.com/k5aPd9S.png) center center no-repeat;
    background-size: 70px 37px !important;
    border-radius: 30px;
    width: 70px;
    height: 37px;
    position: absolute;
    bottom: 75px;
    z-index: 99;
    text-indent: -9999 !important;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: left !important;
    cursor: pointer;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    opacity: .7;
}
#downButton:hover{
    opacity: 1;
}

.title{
    color:#fff;
    margin-left: 2em;
font-family: 'Raleway', sans-serif;
}
.inside p{
    font-family: 'PT Sans Narrow', sans-serif;
}
.wp-post-image{
    margin-left: 4em !important;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.creative{
    
}
}
